{
	"root": true,
	"extends": ["custom", "neon/node"],
	"parserOptions": {
		"project": "**/tsconfig.eslint.json"
	},
	"rules": {
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		]
	},
	"ignorePatterns": ["**/dist/*"]
}
